<h3>Las 6 Secciones en Publicidades de Montaña</h3>

<div id="djslider-loader113" class="djslider-loader">
    <div id="djslider113" class="djslider">
        <div id="slider-container113" class="slider-container">
        	<ul id="slider113">
<li>

          					            											<a  href="http://culturademontania.org.ar/Publicidades/Decada40.htm#Anterior" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/decada40_02.jpg" alt="Decada 1940" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Decada 1940																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Publicidades/Decada50.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/decada50_02.jpg" alt="Decada 1950" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Decada 1950																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Publicidades/Decada60.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/decada60_02.jpg" alt="Decada 1960" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Decada 1960																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Publicidades/Decada70.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/decada70_02.jpg" alt="Decada 1970" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Decada 1970																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Publicidades/Decada80.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/decada80_02.jpg" alt="Decada 1980" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Decada 1980																</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Publicidades/Decada90.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/decada90_02.jpg" alt="Decada 1990" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Decada 1990																</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
                        	</ul>

        </div>

                <div id="navigation113" class="navigation-container">

        	        	<img id="prev113" class="prev-button" src="http://culturademontania.org.ar/images/anterior-ediciones.png" alt="Previous" />

			<img id="next113" class="next-button" src="http://culturademontania.org.ar/images/siguiente-ediciones.png" alt="Next" />

						        </div>

                    </div>

</div>

	

<div style="clear: both"></div>