<h3>Las 4 Secciones en Museo de Historia del Montañismo</h3>

<div id="djslider-loader113" class="djslider-loader">
    <div id="djslider113" class="djslider">
        <div id="slider-container113" class="slider-container">
        	<ul id="slider113">
<li>

          					            											<a  href="http://culturademontania.org.ar/museo/nuestro-museo-ccam.html" target="_blank">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/museo_montanismo_ampliacion_ccam_02.jpg" alt="Nuestro Museo" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

														Nuestro Museo																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>  
<li>

          					            											<a  href="http://culturademontania.org.ar/museo/muestra-maam.html" target="_blank">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/museo_historia_montanismo_ccam_02.jpg" alt="Muestra en el MAAM" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

												Muestra en el MAAM																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>                                                      
<li>

          					            											<a  href="http://culturademontania.org.ar/MuseoVirtual/museovirtual.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/gramp_02.jpg" alt="Museo Virtual de Montaña" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Museo Virtual de Montaña																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>  
<li>

          					            											<a  href="http://culturademontania.org.ar/Publicidades/publicidades.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/seccionmuseo/publicidades_montana_02.jpg" alt="Historia de Publicidades de Montaña" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																		Publicidades de Montaña																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>                                                                                              
           	</ul>

        </div>

                <div id="navigation113" class="navigation-container">

        	        	<img id="prev113" class="prev-button" src="http://culturademontania.org.ar/images/anterior-ediciones.png" alt="Previous" />

			<img id="next113" class="next-button" src="http://culturademontania.org.ar/images/siguiente-ediciones.png" alt="Next" />

						        </div>

                    </div>

</div>

	

<div style="clear: both"></div>