<h3>Las 3 Secciones en Técnica y Entrenamiento</h3>

<div id="djslider-loader113" class="djslider-loader">
    <div id="djslider113" class="djslider">
        <div id="slider-container113" class="slider-container">
        	<ul id="slider113">
<li>

          					            											<a  href="http://culturademontania.org.ar/entrenamientos/2.htm#Anterior" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionentren/mendoza_puente_inca_cascada_hielo_julian_insarralde_02.jpg" alt="Técnica" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Técnica																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/entrenamientos/entren_sec1.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionentren/trekking_salvadorsanchis_02.jpg" alt="Entrenamiento" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Entrenamiento																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/entrenamientos/entren_sec2.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionentren/patricia_lona_escalando_02.jpg" alt="Desafíos en la Montaña" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Desafíos en la Montaña																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>                        
                        	</ul>

        </div>

                <div id="navigation113" class="navigation-container">

        	        	<img id="prev113" class="prev-button" src="http://culturademontania.org.ar/images/anterior-ediciones.png" alt="Previous" />

			<img id="next113" class="next-button" src="http://culturademontania.org.ar/images/siguiente-ediciones.png" alt="Next" />

						        </div>

                    </div>

</div>

	

<div style="clear: both"></div>