<h3>Las 3 Secciones en Historia del Montañismo</h3>

<div id="djslider-loader113" class="djslider-loader">
    <div id="djslider113" class="djslider">
        <div id="slider-container113" class="slider-container">
        	<ul id="slider113">
<li>

          					            											<a  href="http://culturademontania.org.ar/Historia/historia.htm#Anterior" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionhistoria/gerardo_watzl_02.jpg" alt="Personajes y Biografías" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Personajes y Biografías																</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Historia/historia_sec1.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionhistoria/santa_cruz_segunda_ascension_fitz_roy_marcos_couch_02.jpg" alt="Argentina" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Argentina																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Historia/historia_sec2.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionhistoria/messner_habeler_campamento_everest_02.jpg" alt="El Mundo" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			El Mundo																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>                        
                        	</ul>

        </div>

                <div id="navigation113" class="navigation-container">

        	        	<img id="prev113" class="prev-button" src="" alt="" />

			<img id="next113" class="next-button" src="" alt="" />

						        </div>

                    </div>

</div>

	

<div style="clear: both"></div>