<h4>Números Publicados de la Revista Digital de Montaña</h4>

<div id="djslider-loader111" class="djslider-loader">
    <div id="djslider111" class="djslider">
        <div id="slider-container111" class="slider-container">
        	<ul id="slider111">
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/12_2019/diciembre_2019.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/diciembre_2019.jpg" alt="Diciembre 2019" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Diciembre 2019 - Nº 57																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            				
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/04_2018/abril_2018.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/abril_2018.jpg" alt="Abril 2018" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Abril 2018 - Nº 56																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            				
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/12_2017/diciembre_2017.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/diciembre_2017.jpg" alt="Diciembre 2017" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Diciembre 2017 - Nº 55																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/03_2017/marzo_2017.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/marzo_2017.jpg" alt="Marzo 2017" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Marzo 2017 - Nº 54																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/07_2016/julio_2016.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/julio_2016.jpg" alt="Julio 2016" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Julio 2016 - Nº 53																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/01_2016/enero_2016.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/enero_2016.jpg" alt="Enero 2016" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Enero 2016 - Nº 52																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/08_2015/agosto_2015.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/agosto_2015.jpg" alt="Agosto 2015" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Agosto 2015 - Nº 51																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/04_2015/abril_2015.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/abril_2015.jpg" alt="Abril 2015" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Abril 2015 - Nº 50																</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/01_2015/enero_2015.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/enero_2015.jpg" alt="Enero 2015" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Enero 2015 - Nº 49																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/08_2014/agosto_2014.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/agosto_2014.jpg" alt="Agosto 2014" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Agosto 2014 - Nº 48																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->
					</li>
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/06_2014/junio_2014.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/junio_2014.jpg" alt="Junio 2014" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Junio 2014 - Nº 47																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/04_2014/abril_2014.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/abril_2014.jpg" alt="Abril 2014" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Abril 2014 - Nº 46																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>            
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/02_2014/febrero_2014.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/febrero_2014.jpg" alt="Febrero 2014" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Febrero 2014 - Nº 45																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/12_2013/diciembre_2013.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/diciembre_2013.jpg" alt="Diciembre 2013" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Diciembre 2013 - Nº 44																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li> 
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/10_2013/octubre_2013.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/octubre_2013.jpg" alt="Octubre 2013" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Octubre 2013 - Nº 43																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/08_2013/agosto_2013.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/agosto_2013.jpg" alt="Agosto 2013" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Agosto 2013 - Nº 42																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li> 
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/06_2013/junio_2013.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/junio_2013.jpg" alt="Junio 2013" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Junio 2013 - Nº 41																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li> 
                          			<li>
          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/04_2013/abril_2013.htm" target="_blank">
															<img src="http://culturademontania.org.ar/images/edicionesanteiores/abril_2013.jpg" alt="Abril 2013" />
															</a>
																									<!-- Slide description area: START -->
						<div class="slide-desc">
						  <div class="slide-desc-in">	
							<div class="slide-desc-bg"></div>
							<div class="slide-desc-text">
															<div class="slide-title">
																			Abril 2013 - Nº 40																	</div>
														
														
														<div style="clear: both"></div>
							</div>
						  </div>
						</div>
						<!-- Slide description area: END -->
												
						
					</li>

                          			<li>
<a  href="http://culturademontania.org.ar/Revista_Digital/11_2012/noviembre_2012.htm" target="_blank">
															<img src="http://culturademontania.org.ar/images/edicionesanteiores/noviembre_2012.jpg" alt="Noviembre 2012" />
															</a>
																									<!-- Slide description area: START -->
						<div class="slide-desc">
						  <div class="slide-desc-in">	
							<div class="slide-desc-bg"></div>
							<div class="slide-desc-text">
															<div class="slide-title">
																			Noviembre 2012 - Nº 39																	</div>
														
														
														<div style="clear: both"></div>
							</div>
						  </div>
						</div>
						<!-- Slide description area: END -->
												
						
					</li>                                                                                                                               
          		          			<li>
          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/06_2012/junio_2012.htm" target="_blank">
															<img src="http://culturademontania.org.ar/images/edicionesanteiores/junio_2012.jpg" alt="Junio 2012"/>
															</a>
																									<!-- Slide description area: START -->
						<div class="slide-desc">
						  <div class="slide-desc-in">	
							<div class="slide-desc-bg"></div>
							<div class="slide-desc-text">
															<div class="slide-title">
																			Junio 2012 - Nº 38																	</div>
														
														
														<div style="clear: both"></div>
							</div>
						  </div>
						</div>
						<!-- Slide description area: END -->
												

						

					</li>

                          			<li>
<a  href="http://culturademontania.org.ar/Revista_Digital/11_2011/noviembre_2011.htm" target="_blank">
															<img src="http://culturademontania.org.ar/images/edicionesanteiores/noviembre_2011.jpg" alt="Noviembre 2011" />
															</a>
																									<!-- Slide description area: START -->
						<div class="slide-desc">
						  <div class="slide-desc-in">	
							<div class="slide-desc-bg"></div>
							<div class="slide-desc-text">
															<div class="slide-title">
																			Noviembre 2011 - Nº 37																	</div>
														
														
														<div style="clear: both"></div>
							</div>
						  </div>
						</div>
						<!-- Slide description area: END -->
												
						
					</li>

                          			<li>
          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/07_2011/julio_2011.htm" target="_blank">
															<img src="http://culturademontania.org.ar/images/edicionesanteiores/julio_2011.jpg" alt="Julio 2011" />
															</a>
																									<!-- Slide description area: START -->
						<div class="slide-desc">
						  <div class="slide-desc-in">	
							<div class="slide-desc-bg"></div>
							<div class="slide-desc-text">
															<div class="slide-title">
																			Julio 2011 - Nº 36																	</div>
														
														
														<div style="clear: both"></div>
							</div>
						  </div>
						</div>
						<!-- Slide description area: END -->
												
						
					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/06_2011/junio_2011.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/junio_2011.jpg" alt="Junio 2011" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Junio 2011 - Nº 35																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>

                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/05_2011/mayo_2011.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/mayo_2011.jpg" alt="Mayo 2011" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Mayo 2011 - Nº 34																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>

                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/04_2011/abril_2011.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/abril_2011.jpg" alt="Abril 2011" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Abril 2011 - Nº 33																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>

                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/01_2011/enero_2011.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/enero_2011.jpg" alt="Enero 2011" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Enero 2011 - Nº 32																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>

                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/12_2010/diciembre_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/diciembre_2010.jpg" alt="Diciembre 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Diciembre 2010 - Nº 31																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/11_2010/noviembre_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/noviembre_2010.jpg" alt="Noviembre 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Noviembre 2010 - Nº 30																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/10_2010/octubre_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/octubre_2010.jpg" alt="Octubre 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Octubre 2010 - Nº 29																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>	
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/09_2010/septiembre_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/septiembre_2010.jpg" alt="Septiembre 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Septiembre 2010 - Nº 28															</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>		
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/08_2010/agosto_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/agosto_2010.jpg" alt="Agosto 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Agosto 2010 - Nº 27																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/07_2010/julio_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/julio_2010.jpg" alt="Julio 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Julio 2010 - Nº 26																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>	
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/06_2010/junio_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/junio_2010.jpg" alt="Junio 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Junio 2010 - Nº 25																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>		
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/05_2010/mayo_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/mayo_2010.jpg" alt="Mayo 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Mayo 2010 - Nº 24																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>	
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/04_2010/abril_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/abril_2010.jpg" alt="Abril 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Abril 2010 - Nº 23																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>	
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/03_2010/marzo_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/marzo_2010.jpg" alt="Marzo 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Marzo 2010 - Nº 22																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>	
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/02_2010/febrero_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/febrero_2010.jpg" alt="Febrero 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Febrero 2010 - Nº 21																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>	
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/01_2010/enero_2010.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/enero_2010.jpg" alt="Enero 2010" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Enero 2010 - Nº 20																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/12_2009/diciembre_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/diciembre_2009.jpg" alt="Diciembre 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Diciembre 2009 - Nº 19																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/11_2009/noviembre_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/noviembre_2009.jpg" alt="Noviembre 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Noviembre 2009 - Nº 18																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li> 
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/10_2009/octubre_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/octubre_2009.jpg" alt="Octubre 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Octubre 2009 - Nº 17																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                           	                          			 
<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/09_2009/septiembre_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/septiembre_2009.jpg" alt="Septiembre 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Septiembre 2009 - Nº 16																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                          			<li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/08_2009/agosto_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/agosto_2009.jpg" alt="Agosto 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Agosto 2009 - Nº 15																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                           			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/07_2009/julio_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/julio_2009.jpg" alt="Julio 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Julio 2009 - Nº 14																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                           			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/06_2009/junio_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/junio_2009.jpg" alt="Junio 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Junio 2009 - Nº 13																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/05_2009/mayo_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/mayo_2009.jpg" alt="Mayo 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Mayo 2009 - Nº 12																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/04_2009/abril_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/abril_2009.jpg" alt="Abril 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Abril 2009 - Nº 11																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/03_2009/marzo_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/marzo_2009.jpg" alt="Marzo 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Marzo 2009 - Nº 10																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/02_2009/febrero_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/febrero_2009.jpg" alt="Febrero 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Febrero 2009 - Nº 9																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/01_2009/enero_2009.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/enero_2009.jpg" alt="Enero 2009" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Enero 2009 - Nº 8																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/12_2008/diciembre_2008.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/diciembre_2008.jpg" alt="Diciembre 2008" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Diciembre 2008 - Nº 7																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/11_2008/noviembre_2008.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/noviembre_2008.jpg" alt="Noviembre 2008" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Noviembre 2008 - Nº 6																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/10_2008/octubre_2008.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/octubre_2008.jpg" alt="Octubre 2008" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Octubre 2008 - Nº 5																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/09_2008/septiembre_2008.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/septiembre_2008.jpg" alt="Septiembre 2008" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Septiembre 2008 - Nº 4																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/08_2008/agosto_2008.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/agosto_2008.jpg" alt="Agosto 2008" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Agosto 2008 - Nº 3																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/07_2008/julio_2008.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/julio_2008.jpg" alt="Julio 2008" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Julio 2008 - Nº 2																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                    <li>

          					            											<a  href="http://culturademontania.org.ar/Revista_Digital/06_2008/junio_2008.htm" target="_blank">

															<img src="http://culturademontania.org.ar/images/edicionesanteiores/junio_2008.jpg" alt="Junio 2008" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

						  <div class="slide-desc-in">	

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Junio 2008 - Nº 1																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						  </div>

						</div>

						<!-- Slide description area: END -->

												

						

					</li>                                                      			
                        	</ul>

        </div>

                <div id="navigation111" class="navigation-container">

        	        	<img id="prev111" class="prev-button" src="http://culturademontania.org.ar/images/anterior-ediciones.png" alt="Previous" />

			<img id="next111" class="next-button" src="http://culturademontania.org.ar/images/siguiente-ediciones.png" alt="Next" />

						        </div>

                    </div>

</div>

<div style="clear: both"></div>

