<h3>Secciones de Libros de Montaña</h3>

<div id="djslider-loader113" class="djslider-loader">
    <div id="djslider113" class="djslider">
        <div id="slider-container113" class="slider-container">
        	<ul id="slider113">
<li>

          					            											<a  href="http://culturademontania.org.ar/Libros/libro.htm#Anterior" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionlibro/arqueologia_altamontana_02.jpg" alt="Guías de Montaña" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Guías de Montaña																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Libros/libro_sec1.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionlibro/mas_alto_que_los_condores_ostrowski_02.jpg" alt="Expediciones" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Expediciones																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Libros/libro_sec2.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionlibro/qhapaq_nan_viaje_camino_inca_02.jpg" alt="Exploración" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Exploración																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
                        	</ul>

        </div>

                <div id="navigation113" class="navigation-container">

        	        	<img id="prev113" class="prev-button" src="" alt="" />

			<img id="next113" class="next-button" src="" alt="" />

						        </div>

                    </div>

</div>

	

<div style="clear: both"></div>