<h3>Las 2 Secciones en Antropología y Arqueología</h3>

<div id="djslider-loader113" class="djslider-loader">
    <div id="djslider113" class="djslider">
        <div id="slider-container113" class="slider-container">
        	<ul id="slider113">
<li>

          					            											<a  href="http://culturademontania.org.ar/Arqueologia/arqueo.htm#Anterior" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionarqueo/salta_volcan_llullaillaco_zona_cumbre_christian_vitry_02.jpg" alt="Arqueología de Montaña" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			Arqueología de Montaña																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
<li>

          					            											<a  href="http://culturademontania.org.ar/Arqueologia/arqueo_sec1.htm" target="_self">

															<img src="http://culturademontania.org.ar/images/seccionarqueo/hombre_montana_02.jpg" alt="La Montaña y el Hombre" />

															</a>

																									<!-- Slide description area: START -->

						<div class="slide-desc">

							<div class="slide-desc-bg"></div>

							<div class="slide-desc-text">

															<div class="slide-title">

																			La Montaña y el Hombre																	</div>

														

														

														<div style="clear: both"></div>

							</div>

						</div>

						<!-- Slide description area: END -->
					</li>            
                        	</ul>

        </div>

                <div id="navigation113" class="navigation-container">

        	        	<img id="prev113" class="prev-button" src="" alt="" />

			<img id="next113" class="next-button" src="" alt="" />

						        </div>

                    </div>

</div>

	

<div style="clear: both"></div>